.App {
  text-align: center;
}

.tamagotchi-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 0%;
  width: 30%;
  border-radius: 25%;
}

.tamagotchi {
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  padding: 20px;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 6%;
  bottom: 0;
  width: 15%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tamagotchi-screen:hover .actions {
  display: block;
}

.actions {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}
